html {
	scroll-behavior: smooth;
}	

.body {
	background-color: #ffffff;
    scroll-behavior: smooth;
    
}


.menu{
    background: #1796F2 ;
    overflow: hidden;
    z-index:1; /*Add this*/
   
}


.menu a:hover{
    color: aliceblue;
}

.menu a:active{
    font-weight: 600;
}

.topnav {
    max-width: 640px;
    margin: auto;
    overflow: hidden;
    margin-top: 0px; 
    padding-top: 12px;
    
    
}

.steps{
    max-width: 640px;
    padding: 12px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding-right: 3.6em;
    padding-bottom: 12px;
  text-decoration: none;
  color: beige;
      
    
}



/* Right-aligned section inside the top navigation */
.topnav-right {
  margin: auto;
  margin-top: 3px;
    display: block;
}

.topnav a:hover{
    color: black;
}


.intro{
    max-width: 640px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    
}

.heading{
    font-family: 'Fira Sans', sans-serif;
    font-size: 30pt;
    font-weight: 600;
    color: #1796F2;
}

.content{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14pt;
    color: #555555;
}

.cards{
    max-width: 640px;
    background: linear-gradient(190deg, #fff9ed 50% ,#fff2f7 100%);
    border-radius: 12px;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.05);
}

.image{
    width: 30px;
    float: left;
    margin-right: 24px;
    margin-top: 20px;
}

.subhead{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18pt;
    font-weight: 600;
    color: #1796F2;
}

.end{
    max-width: 640px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 30px;
}

.end a{
    text-decoration: none;
    box-shadow: 0;
    transition: 1s;
}


.button{
    width: 200px;
    margin: auto;
    margin-top: 30px;
    padding: 12px;
    background-color: #1796F2;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18pt;
    font-weight: 600;
    border-radius: 24px;
    text-align: center;
    }


@media screen and (max-width: 640px) {
  div.topnav a{
  font-size: 0.8em;      
  }
}

@media screen and (max-width: 640px) {
    img.steps{
        width: 90%;
    }
}
