html {
	scroll-behavior: smooth;
}	

.body {
	background-color: #ffffff;
    scroll-behavior: smooth;
    

}

.main {
    width:100%;
    
}

.menu{
    background: rgba(255,255,255, 0.3);
    overflow: hidden;
    z-index:1; /*Add this*/
}

.homeicon{
   display: none;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.resume {
	transform: translate(-12px, 0px);
	
}

.download {
	margin-top: 4px;
	opacity: 0;
	transition: .3s ease;
}

.resume:hover .download{
	opacity: 1;
	transition: .7s ease;
}
.resume:hover {
	color: black;
	transform: translate(6px, 0px);
	transition: .7s ease;
}

.topnav {
    
    overflow: hidden;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0px; 
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family:'Libre Franklin', sans-serif;  
  font-size: 11pt; 
  color: dimgrey;
    
}


/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  margin-top: 5px;
}

.topnav a:hover{
    color: black;
}

.headings{
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400; 
    font-size: 20pt;
    color: #777777;
    position: relative;
    margin: auto;
    max-width: 720px;
    margin-top: 30px;
    
}

.content{
    font-family: 'Libre Franklin', san-serif;
    font-size: 12pt;
    color: #777777;
    position: relative;
    margin: auto;
    margin-top: 20px;
    max-width: 720px;
   
}

.caption{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 14pt;
    color: #777777;
    position: relative;
    margin: auto;
    max-width: 640px;
    margin-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
}

.fields{
    font-family: 'Libre Franklin', sans-serif; 
    font-size: 9pt; 
    color: #aaaaaa; 
    position: relative;
    margin: auto;
    max-width: 600px;
    margin-top: 24px;
}

.container {
  position: relative;
	box-shadow: 2px 2px 12px 4px rgba(0,0,0,0.1);
    transition: transform .5s; /* Animation */
	

}

.images{
    opacity: 1;
    margin-left: auto; 
    margin-right: auto; 
    max-height: 100%; 
    max-width: 100%;
    
   
      transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover {
  opacity: 0.8;
	box-shadow: 2px 2px 24px 12px rgba(0,0,0,0.07);
  transform: scale(1.07);
}

.container:hover .images {
  opacity: 0.5;
 
}
.container:hover .middle {
  opacity: 1;
}


.text {
   
        font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 18pt;
  color:#000000;
  
  padding: 16px 32px;
}

.cards{
    max-width: 640px;
  
    margin-top: 0;
    padding: 24px;
   
    background-color: white;
    
    border-radius: 8px;
    
}

.links {
font-family:'Merriweather', serif; 
font-size: 14pt; 
color: #aaaaaa; 
margin-top: 100px
}

.intro {
    max-width:600px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right:auto;
    margin-left: auto;
    margin-top: 100px;
    position: relative;
text-align: center;
}

.links a{
font-family:'Merriweather', serif; 
font-size: 14pt; 
    color: #0084FF;
    text-decoration: none;
}

.links a:hover {
    color: #FFCC89;
}

.projects {
    max-width: 640px;
    padding-left: 18px;
    padding-right: 18px;
    margin-right:auto;
    margin-left: auto;
    margin-top: 100px;
    position: relative;
}

.projects a{
    text-decoration: none;
}



.view{
    display: none;
}

@media screen and (max-width: 600px) {
  div.view{
    display: block;
  }
}


@media screen and (max-width: 600px) {
  div.links {
    font-family:'Merriweather Sans', sans-serif; 
font-size: 11pt; 
color: #aaaaaa; 
margin-top: 100px
  }
}
@media screen and (max-width: 600px) {
  div.intro {
  text-align: left;
  }
}

@media screen and (max-width: 1400px) {
  div.menu {
  background: rgba(255,255,255, 1);
  }
}
@media screen and (max-width: 600px) {
  p.headings{
    

    font-size: 4.8vw;

  }
}

@media screen and (max-width: 600px) {
  p.content{
    font-size: 3.8vw;

  }
}

@media screen and (max-width: 600px) {
  p.fields{
    font-size: 3vw;

  }
}

@media screen and (max-width: 600px) {
  div.topnav a{
    font-size: 3.5vw;

  }
}



@media screen and (max-width: 600px) {
 div.middle{
    
display: none;
    

  }
}
